# Базовые зависимости (обычная установка)
# pyrogram is outdated; switch to actively maintained PyroTGFork
pyrotgfork
aiohttp
aiofiles
requests
fastapi
uvicorn[standard]
jinja2
python-multipart
psutil
TgCrypto>=1.2.5
moviepy==2.2.1
tldextract
pillow
chardet
sdnotify
firebase-admin
bgutil-ytdlp-pot-provider

--pre
yt-dlp[default,curl-cffi]
gallery-dl
boto3
